.MovieListPage-logo {
    color:#F65261;
    font-size: 20px;
}
.MovieListPage-addMovieSection {
    display: flex;
    justify-content: space-between;
    padding: 32px 80px;
    width: 1200px;
    align-self: center;
}

.MovieListPage-addMoviebutton {
    background-color: #606060;
    font-size: 20px;
    color: #F65261;
    padding: 8px 12px;
}

.MovieListPage-backButton {
    display: block;
    width: 24px;
    height: 24px;
    line-height: 24px;
}

.MovieListPage-header {
    min-width: 1200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image:url('./assets/Group_Copy_3.png');
    color: #FFF;
}

.MovieListPage-activeGenres {
    cursor: pointer;
    padding-left: 0;
    margin-top: 18px;
}

.MovieListPage-activeGenres li {
    display: inline-block;
    padding: 16px 16px 16px 0px;
    cursor: pointer;
}


.MovieListPage-activeGenresItem {
    cursor: pointer;
    border-bottom: 1px solid red;
}

.MovieListPage-totalAmount {
    font-weight: bold;
}

.MovieListPage-menu {
    display: flex;
    justify-content: space-between;
    height: 84px;
}

.MovieListPage-movieItems {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    min-width: 701px;
    max-width: 1080px;
}

.MovieListPage-wrapper {
    width: 1200px;
    min-height: 500px;
    box-sizing: border-box;
    padding: 0px 60px 30px 60px;
    background-color: #232323;
    color: #FFF;
}

.MovieListPage-generalInfo {
    min-width: 701px;
}

.MovieListPage-footer {
    font-size: 20px;
    color: #F65261;
    text-align: center;
    background-color: #424242;
    width: 100%;
    line-height: 70px;
}